h1 {
    background-color: #ff0000;
    font-weight: 900;
    text-align: center;
}

img {
    width: 300px;
    height: auto;
}

ul {
    font-family: 'Courier New', sans-serif;
}

h2 {
    background-color: #0000ff;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

h3 {
    background-color: #008000;
    font-weight: 900;
    text-align: center;
}

ol {
    text-decoration: underline #800080;
}

p {
    border: thick double #ffd700;
}

li {
    color: #ff4500;
}